<%= render "shared/error_messages", :target => @reminder %>

<p>
	<%= form.label :description %><br />
	<%= form.text_area :description, :cols => 40, :rows => 5 %>
</p>
<p>
	<%= form.label :event_time %><br />
	<%= form.datepicker 'event_time', :dateFormat => "yy-mm-dd" %>
</p>

